@import 'variables'
@import 'button'

body
  background-color: $main-bg
  color: $main-color
  font-family: 'Roboto', sans-serif
  font-size: 14px
a 
  text-decoration: none
  cursor: pointer

*
  box-sizing: border-box
  margin: 0
  padding: 0
li  
  list-style: none
.wrap
  max-width: 890px
  margin: 0 auto

//////////   header
@import 'header'

//////////   metro
@import 'metro'

//////////   bestoffer
@import 'bestoffer'

//////////   lastoffer
@import 'lastoffer'


.red
  color: red
